* {
    margin: 0px;
    padding: 0px;
    overscroll-behavior: [ contain  none  auto ];
    
    
}

html {
    font-size: 16px;
    max-width: 1500px;
    
}

/*Font family*/


body {
    font-family: var(--roboto) ;    
    color: var(--black-color); 
    width: 83vw;  
    min-width: 83vw;
    height: 100vh;
    margin-left: 16%;
    background-color: var( --white-bg-color);

}

