.navbarLogo {
    max-width: 100%;
    height: auto;
    margin:0 40px 2px 40px;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.navbarLogo  img{
    max-width: 100%;
    min-height: 100%;
}

.user-img {    
    height: auto;
    max-height: 38px;
    max-width: 38px;
    border-radius: 50%;
}

.spacing {
    padding-top: 50px;
    margin-bottom: 0px;
}

/* Header div*/

.header-div-content h1 {
    font-family: var(--roboto);
    font-size: 16px;
    color: var(--blue-color);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    
}

.header-div-content h2 {
    font-family: var(--roboto);
    font-size: 14px;
    color: var(--black-color);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    
}

/* Header END */

/* Buttons */ 

.btn-primary-default{
    height: 36px; 
    min-width: 8.3rem;   
    max-width: 10.6rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--primary-btn-color);
    border-color: var(--primary-btn-color);
    font-size: 12px;
    font-family: var(--roboto);
}

.btn-secondary-default{
    height: 36px; 
    min-width: 8.3rem;   
    max-width: 10.6rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--white-bg-color);
    border-color: var(--primary-btn-color);
    color: var(--primary-btn-color);
    font-size: 12px;
    font-family: var(--roboto);
}

.btn-tertiary-default{
    height: 36px;
    max-width: fit-content;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--white-bg-color);
    border-color: var(--tertiary-btn-color);
    color: var(--tertiary-btn-color);
    font-size: 12px;
    font-family: var(--roboto);
}



.dropdown-btn-primary-default{
    
    border-radius: 4px;
    border: solid 1px;
    background-color: #fff;
    color: var(--black-color);
    text-align: left;
    
}

.button-next-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 87%;   
}

.button-next-back-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 70%;
}

.button-next-back-content button {
    margin-right: 24px;
}

/* END */

.form-check-label  {
    font-family: var(--roboto);
    margin: 0px 15px 0 10px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

#flexCheckDefault {
    border: 1px solid var(--black-color);
    border-radius: 0px;
}

#flexRadioDefault1 {
    border: 1px solid var(--black-color);
}

#flexRadioDefault2 {
    border: 1px solid var(--black-color);
}