:root {
    --white-menu-color: #FFF;
    --white-bg-color: #FFFFFF;
    --blue-color: #3bbfbf;
    --black-color: #606060;
    --gray-color: #aeaeae;
    --primary-btn-color: #326c91;
    --roboto:  'Roboto', sans-serif;
    
    


}