:root {
    --white-menu-color: #FFF;
    --white-bg-color: #FFFFFF;
    --blue-color: #3bbfbf;
    --blue-color2: #32bec0;
    --blue-color-rt: #00b4ed;  /*table status*/
    --black-color: #606060;
    --gray-color: #aeaeae;
    --gray-border-color:#ced4da;
    --gray-bg-icon:#e9ecef;
    --gray-ligth-color:#e5e5e5;
    --primary-btn-color: #326c91;
    --roboto:  'Roboto', sans-serif;
    
    


}