@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root {
    --white-menu-color: #FFF;
    --white-bg-color: #FFFFFF;
    --white-content-color: #fafbfc;
    --blue-color: #3bbfbf;
    --blue-color2: #32bec0;
    --blue-color-rt: #00b4ed;  /*table status*/
    --black-color: #606060;
    --gray-color: #aeaeae;
    --gray-border-color:#ced4da;
    --gray-bg-icon:#e9ecef;
    --gray-ligth-color:#e5e5e5;
    --primary-btn-color: #326c91;
    --tertiary-btn-color: #4fa2c2;
    --roboto:  'Roboto', sans-serif;
    --notoSans:  'Noto Sans', sans-serif;
    --yellow-status-color: #fdba04;
    --green-status-color: #43a047;
    --imc-blue-color: #21a6f3 ;
}