.header {
    width:82vw;
    max-height: 78px;
    position: fixed;
    top: 0;
    left: 14vw;
    padding-top: 1%;
    background-color: var(--blue-color);
    justify-content: space-between;

  }

  .header-content {
    justify-content: space-between;
    
  }

  .header-text-label p {
    color: var(--white-menu-color);
    font-family: var(--roboto);
    font-size: 16px;
    font-stretch: normal;
    font-style: bold;
    line-height: 1.33;
    letter-spacing: normal;
  }

  .profile-content {  
    padding: 0 0 10px 0;    
  }
  
  .profile-label {
    width: 120px;
    min-width: 120px;  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap-reverse; 
    
  }
  
  .profile-label p { 
    flex: 1; 
    margin: 4px; 
  }
  
  .user-name-label p {
    color: var(--white-menu-color);
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }
  
  .user-sex-label p {
    color: var(--white-menu-color);
    font-family: var(--roboto);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    
  }
  
  .user-age-label p {
    color: var(--white-menu-color);
    font-family: var(--roboto);
  
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
  }

  .profile-content i {
    color: var(--white-menu-color);
  }

  .perfil-header-btn {

    border: none;

    background-color: var(--blue-color);    

    cursor: pointer;

}

.card-perfil-expanded {
  border: 1px solid var(--gray-border-color);
  width: 30rem;
  position: absolute;
  right: 4rem;
  background-color: var(--white-menu-color);
  display: none;
}

.perfil-img-card {
  width: 100px;
  position: relative;
}

.card-perfil-content h1 {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 130px;
  top:  16px;
  color: var(--black-color);
  
}

.card-perfil-content p {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 500;
  position:absolute;
  left: 130px;
  top: 54px;
  color: var(--gray-color);
}

.card-perfil-btn {
  margin-left: 18px;
  font-family: var(--roboto);
  margin-bottom: 16px;
  border: none;
  background-color: none;
}

.card-perfil-btn i {
  margin-right: 16px;
  
}

#cardBtn1{
  margin-top: 16px;
}

